extends layout

block content

    h1 种类:  #{genre.name}

    div(style='margin-left:20px;margin-top:20px;color:hotpink')

        h4 Books

        dl
        each book in genre_books

            dt
                a(href=book.url) #{book.title}

            dd(style='color:pink') #{book.summary}

        else
            p 没有这个种类书。