body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.sidebar-nav li a {
  color: hotpink;
}

.sidebar-nav li a:hover {
  color: pink;
}

.sidebar-nav{
  margin-top: 20px;
  padding: 0;
  list-style: none;
}